/*ヘッダー*/

/*ヘッダー全体*/
.l-header {
    display: flex;
	justify-content: space-between;
	height: 70px;
	background-color: #fff;
	position: fixed;
	z-index: 1000;
	width: 100%;
}

/*ヘッダーロゴ周辺のリンクタグ*/
.c-header__wrapper > a {
	display: flex;
	align-items: center;
	padding-top: 15px;
}

/*ヘッダーロゴ*/
.c-header--logo {
	padding-left: 21px;
}

/*ヘッダー文*/
.c-header--txt {
	padding-left: 15px;
	font-size: 14px;
}

/*ヘッダー文の中の強調*/
.c-header--txt > strong {
	font-size: 16px;
}

/*ここからハンバーガーメニュー*/
.hamburger-menu {
	display: none;
	position: relative;
}

:root {
	--hamburger-menu-size: 100px; /* メニューの大きさ */
	--hamburger-menu-padding: 15px;
	--hamburger-menu-border-px: 2px; /* 線の太さ */
	--hamburger-menu-border-color: #2498B3; /* 線の色 */
	--hamburger-menu-transition: 0.3s; /* アニメーション秒数 */
  }

  :root .hamburger-menu-active > .hamburger-menu-line {
	--hamburger-menu-border-color: #fff;
  }

  .hamburger-menu {
	cursor: pointer;
	position: relative;
	width: 53px;
	height: 50px;
	background-color: #fff;
  }

  .hamburger-menu-active {
	background-color: #2498B3;
  }


  .hamburger-menu-line {
	position: absolute;
	transition: var(--hamburger-menu-transition);
	width: calc(100% - var(--hamburger-menu-padding) * 2);
	height: var(--hamburger-menu-border-px);
	background-color: var(--hamburger-menu-border-color);
  }

  .line-top {
	top: var(--hamburger-menu-padding);
	left: var(--hamburger-menu-padding);
  }

  .line-middle {
	top: calc(50% - var(--hamburger-menu-border-px)/2);
	left: var(--hamburger-menu-padding);
  }

  .line-bottom {
	bottom: var(--hamburger-menu-padding);
	left: var(--hamburger-menu-padding);
  }


  .hamburger-menu-active > .line-top {
	top: calc(50% - var(--hamburger-menu-border-px)/2);
	transform: rotate(45deg);

  }

  .hamburger-menu-active > .line-middle {
	width: 0;
	height: 0;
	left: var(--hamburger-menu-padding);
  }

  .hamburger-menu-active > .line-bottom {
	top: calc(50% - var(--hamburger-menu-border-px)/2);
	transform: rotate(-45deg);
  }

  /* ここまでがハンバーガーメニュー */

  /*ナビゲーションバー*/
.p-nav__inner {
	display: flex;
	align-items: baseline;
	font-size: 16px;
}

/*メニュー(ホバー時)の中にあるリンクタグ*/
.p-nav > ul > li:nth-child(-n+4) > a:hover {
    background-color: #D4F1F8;
    transition: .2s;
}

/*ドロップダウンメニュー*/
.c-nav--beginners, .c-nav--course, .c-nav--support {
	position: relative;
}

/*ドロップダウンメニュー＋－ボタン*/
.c-nav--btn {
	display: none;
}

.c-subnav--beginners:last-child {
	margin-bottom: -16px;
}

/*メニュー（受講お申込み）の中にあるリンクタグ*/
.c-nav--apply > a {
	background-color: #2498B3;
	color: #fff;
}

/*ドロップダウンメニュー*/
.p-nav > ul > li {
	height: 70px;
	transition: .5s;
}

/*ドロップダウンメニューのリンクタグ*/
.p-nav ul > li > a {
	display: block;
	padding: 27px 15px;
}

/*ドロップダウンメニューの子要素全体*/
.p-nav li > ul {
	position: absolute;
	top: 70px;
	left: 0px;
}

/*ドロップダウンメニューの子要素全体
.p-nav li ul {
	display: none;
}

/*ドロップダウンメニューの子要素全体(ホバー時)
.p-nav li:hover ul {
	display: block;
}
*/

/*ドロップダウンメニューの子要素*/
.p-nav li ul li {
	height: 0;
	overflow: hidden;
	transition: .2s;
}

.p-nav li:hover ul li {
	overflow: visible;
}

/*ドロップダウンメニュー(ホバー時)の子要素*/
.p-nav li:hover  ul  li {
	height: 50px;
	overflow: visible;
	word-break: keep-all;
}

/*ドロップダウンメニュー(ホバー時)の子要素の中にあるリンクタグ*/
.p-nav li:hover > ul > li > a {
	background-color: #cdeff7;
	padding-right: 50px;
	padding-top: 18px;
	padding-bottom: 16px;
}

/*ドロップダウンメニューの子要素(ホバー時)の中にあるリンクタグ*/
.p-nav li > ul  a {
	color: #4a546a;
	transition: .2s;
}

.p-nav li:hover > ul > li:hover > a {
	color: #22C1D7;
	background-color: #fff;
}

/*メディアクエリ（タブレット）*/
@media screen and (max-width:1190px) {

	/*ヘッダー全体*/
	.l-header {
		height: 50px;
	}

	/*ヘッダー文*/
	.c-header--txt {
		display: none;
	}

	/*ヘッダーロゴ*/
	.c-header--logo {
		padding-left: 10px;
	}

	/*ヘッダーロゴの画像部分*/
	.c-header--logo > img {
		height: 30px;
	}

	/*ヘッダーロゴ周辺のリンクタグ*/
	.c-header__wrapper > a {
		padding-top: 10px;
	}

	/*ハンバーガーメニューの実装部分*/
	.hamburger-menu {
		display: block;
	}

	/*ナビゲーションバー*/
	.p-nav {
		display: none;
		position: absolute;
		top: 50px;
		background-color: #fff;
		width: 100%;
	}

	/*ナビゲーションバー*/
	.p-nav__inner {
		display: block;
		position: relative;
		z-index: 100;
	}

	.p-nav__inner, .p-nav__inner > li a, .p-nav__inner > li > ul > li a {
		position: relative;
		z-index: 100;
	}

	/*ドロップダウンメニュー*/
	.p-nav .c-nav--beginners > a, .p-nav .c-nav--course > a, .p-nav .c-nav--support > a {
		display: inline-block;
		width: calc(100% - 53px);
	}

	/*ドロップダウンメニュー＋－ボタン*/
	.c-nav--btn {
		position: relative;
		display: inline-block;
		border-top: solid 2px;
		width: 25px;
	}

	.p-nav__inner .c-nav--btn:nth-of-type(1) {
		margin-left: 10px;
		margin-bottom: 5px;
	}

	.c-nav--course .c-nav--btn:nth-of-type(1),.c-nav--support .c-nav--btn:nth-of-type(1) {
		margin-left: -6px;
		margin-bottom: 4px
	}

	/*ドロップダウンメニュー＋－ボタンのボタン部分*/
	.c-nav--btn::after {
		position: absolute;
		display: inline-block;
		content: "";
		border-top: solid 2px;
		width: 25px;
		transform: rotate(-90deg);
	}

	/*メニュー（受講お申込み）*/
	.c-nav--apply {
		display: none;
	}

	/*ドロップダウンメニュー*/
	.p-nav > ul > li {
		height: auto;
	}

	.p-nav li > ul >li > a {
		padding-left: 25px;
	}

	.c-nav--btn {
		height: auto;
	}

	/*ドロップダウンメニュー(ホバー時)*/
	.p-nav > ul > li:hover {
		background-color: #C3C3C3;
	}

	.p-nav > ul > li:nth-child(-n+4) > a {
		background-color: #fff;
	}

	.p-nav > ul {
		overflow: hidden;
		transition: .2s;
		height: 0;
	}

	/*ドロップダウンメニュー(ホバー時)の＋－ボタン*/
	.p-nav > ul > li:hover .c-nav--btn::after {
		display: none;
	}

	/*ドロップダウンメニューの子要素(ホバー時)の中にあるリンクタグ*/
	.p-nav li > ul  a, .p-nav ul > li > a {
		padding: 15px 10px;
	}

	/*ドロップダウンメニューの子要素全体*/
	.p-nav li > ul {
		position: relative;
		top: 0;
	}

	.p-nav li:hover > ul > li > a {
		background-color: #fff;
	}

	.p-nav li:hover > ul > li:hover > a {
		color: #4a546a;
		background-color: #cdeff7;
	}
}
