/*コンテンツエリア（ヒーローページ）*/
.top {
	padding-top: 50px;
	height: 100%;
}

/*トップページの画像部分*/
.c-hero {
	background-image: url("../../img/bg-hero1.png");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
}

/*トップページのボタン部分のラッパーのラッパー*/
.c-hero--img__inner2 {
	background-image: url("../../img/bg-hero2.png");
	background-repeat: no-repeat;
	background-position: center 95%;
	height: 100%;
}

/*トップページのボタン部分のラッパー*/
.c-hero--img__inner {
	background-image: url("../../img/bg-hero3.png");
	background-repeat: no-repeat;
	background-position: center 95%;
	display: flex;
	z-index: 200;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/*トップページのボタン部分*/
.c-hero__inner {
	background-color: #fff;
	border-radius: 10px;
	width: 415px;
	height:325px;
	text-align: center;
	margin-bottom: 25px;
	margin-top: -280px;
}

section[class="c-hero__inner"] {
	display: none;
}

/*トップページのボタン部分の中*/
.c-hero--img, .c-hero--txt, .c-hero--btn {
	margin: 0 auto; /*子要素を中央寄せにする*/
}

/*トップページのボタン部分の中の画像*/
.c-hero--img {
	padding-top: 43px;
	padding-bottom: 20px;
	width: 280px;
}

/*トップページのボタン部分の中の文章*/
.c-hero--txt {
	font-size: 16px;
	padding-bottom: 5px;
	line-height: 25.6px;
}

/*トップページのボタン部分の中ボタンのラッパー*/
.c-hero--btn {
	padding: 50px 0;
}
/*トップページのボタン部分の中のボタン*/
.c-hero--btn > a {
	color: #fff;
	background-color: #2498b3;
	padding: 20px 40px;
	border-radius: 3px;
	font-size: 18px;
}

/*トップページの下の部分をteachとする。
	teach全体*/
.teach {
	display: flex;
	justify-content: center;
	background-color: #121212;
	margin-top: -70px;
	padding-bottom: 60px;
}

/*teach内の3つの部分の各１つの設定*/
.p-teach {
	padding-right: 50px;
	padding-left: 50px;
	margin: 0;
	margin-top: -200px;
}

/*teachの中のアイコンのラッパー*/
.p-teach--icon {
	border: solid 5px;
	border-radius: 50%;
	width: 230px;
	height: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

/*teachの中のアイコン*/
.p-teach--icon > i {
	font-size: 7rem;
}

/*teachの中の見出し*/
.c-teach--ttl {
	text-align: center;
	font-size: 24px;
	padding-top: 15px;
	padding-bottom: 20px;
	color: #fff;
}
/*teachの中の文章*/
.c-teach--txt {
	text-align: left;
	font-size: 16px;
	color: #fff;
}

/*メディアクエリ（SP版）*/
@media screen and (max-width:750px) {

	/*トップページの画像部分*/
	.c-hero {
		background-size: 750px 170px;
		background-position: center 50px;
		margin-top: -282px;
	}

	/*トップページのボタン部分のラッパーのラッパー*/
	.c-hero--img__inner2 {
		height: 100%;
		background-size: 750px 170px;
		background-position: center center;
	}

	/*トップページのボタン部分のラッパー*/
	.c-hero--img__inner {
		height: 100%;
		background-size: 750px 170px;
		background-position: center center;
	}

	/*トップページのボタン部分*/
	div[class="c-hero__inner"] {
		display: none;
	}

	section[class="c-hero__inner"] {
		display: block;
		border-radius: 0;
		width: 100%;
		height: 28%;
		text-align: center;
		padding-top: 25px;
	}

	/*トップページのボタン部分の中の画像*/
	.c-hero--img {
		display: none;
	}

	/*トップページのボタン部分の中の文章*/
	.c-hero--txt {
		font-size: 13px;
		line-height: 20.8px;
	}

	/*トップページのボタン部分の中ボタンのラッパー*/
	.c-hero--btn {
		padding: 20px 0;
	}
	/*トップページのボタン部分の中のボタン*/
	.c-hero--btn > a {
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 16px;
	}


	/*トップページの下の部分をteachとする。
	teach全体*/
	.teach {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #121212;
		padding-bottom: 50px;
		padding-top: 60px;
	}

	/*teach内の3つの部分の各１つの設定*/
	.p-teach {
		padding-right: 50px;
		padding-left: 50px;
		margin: 0;
		padding-bottom: 50px
	}

	/*teachの中のアイコンのラッパー*/
	.p-teach--icon {
		margin: 0 auto;
	}

	/*teach中のアイコンの文章の改行*/
	.c-teach--txt {
		line-height: 28px;
	}

	/*teach中のアイコンの文章の改行*/
	.c-teach--txt__break {
		display: none;
	}
}
